@mixin fontface($family, $localname, $filename, $weight, $style) {
  @font-face {
    font-display: swap;
    font-family: $family;
    src: local("#{$localname}"), url("~assets/fonts/#{$filename}.woff2") format("woff2"),
    url("~assets/fonts/#{$filename}.woff") format("woff");
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 88px;
}

@mixin no-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin zero-indent {
  margin: 0;
  padding: 0;
}

@mixin text($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin image-size($width, $height) {
  width: $width;
  height: $height;
}

@mixin hover-focus-active {
  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}
