// шрифты
$PTSans: "PTSans", "Arial", sans-serif;

// цвета
$color_black: #000;
$color_gray: #59606D;
$color_gray-light: #959DAD;
$color_yellow: #F2C94C;
$color_extra_light: f8f8f8;
$color_white: #fff;


// размеры
$width-tablet: 600px;
$width-mobile-max: 1023px;
$width-desktop-min: 1440px;
